/*
 *  hsla(   0,   0.0%, 100.0%, 1 )   white
 *  hsla(   0,   0.0%,  13.3%, 1 )   dark gray
 *  hsla(   0,   0.0%,  60.0%, 1 )   medium gray
 *  hsla(   0,   0.0%,  80.0%, 1 )   light gray
 *  hsla(   2,  64.7%,  50.0%, 1 )   red
 *  hsla(  40,  64.7%,  50.0%, 1 )   yellow
 *  hsla( 120,  39.6%,  46.0%, 1 )   green
 *  hsla( 208,  55.9%,  44.5%, 1 )   blue
 */

html,
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  cursor: default;
  margin: 0;
  padding: 0;
  color: hsla( 0, 0.0%, 13.3%, 1 );
  background-color: hsla( 0, 0.0%, 100.0%, 1 );
}

h1 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 2.4em;
  font-weight: normal;
  line-height: 3em;
  margin: 20px 0 0;
  padding: 0;
  text-align: center;
}

.tic, .tac, .toe { background-color: hsla( 0, 0.0%, 100.0%, 1 ); }
.tic { color: hsla(   2,  64.7%,  50.0%, 1 ); }
.tac { color: hsla( 120,  39.6%,  46.0%, 1 ); }
.toe { color: hsla( 208,  55.9%,  44.5%, 1 ); }

.button {
  margin-top: 40px;
  text-align: center;
}

.button button {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 32px;
  line-height: 1.42857143;
  border-radius: 4px;
  color: hsla(0, 100%, 100%, 1);
  background-color: hsla(120, 40%, 46%, 1);
  border-color: hsla(120, 40%, 37%, 1);
}

.board {
  width: 240px;
  height: 240px;
  margin: 10px auto 20px;
}

.board-row {
  clear: both;
}

.board-cell {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 60px;
  float: left;
  text-align: center;
  text-transform: uppercase;
  width: 78px;
  height: 78px;
  padding-top: 5px;
  border: 1px solid hsla( 0, 0.0%, 60.0%, 1 );
}

.top     { border-top:    0; }
.bottom  { border-bottom: 0; }
.left    { border-left:   0; }
.right   { border-right:  0; }

.x { color: hsla( 208,  55.9%,  44.5%, 1 ); }
.o { color: hsla( 120,  39.6%,  46.0%, 1 ); }

.win   { color: hsla( 2, 64.7%, 50.0%, 1 ); }
.unwin { color: hsla( 0,  0.0%, 80.0%, 1 ); }

.current-player {
  padding: 25px 0;
  font-size: 32px;
  text-align: center;
}

.message {
  position: absolute;
  top: 208px;
  left: 25%;
  width: 50%;
  margin: auto;
  padding: 5px;
  font-size: 40px;
  text-align: center;
  color: hsla( 60, 100.0%, 50.0%, 1 );
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.tied.message {
  color: hsla( 0, 0.0%, 100.0%, 1 );
  background-color: hsla( 2, 64.7%,  50.0%, 0.7 );
}

.x.winner.message {
  background-color: hsla( 208, 55.9%, 44.5%, 0.7 );
}

.o.winner.message {
  background-color: hsla( 120, 39.6%, 46.0%, 0.7 );
}

@media (max-width: 760px) {
  .message {
    left: 15%;
    width: 70%;
  }
}

@media (max-width: 520px) {
  .message {
    top: 218px;
    left: 5%;
    width: 88%;
    font-size: 32px;
  }
}