/*
  hsla(   0,  0.0%, 100.0%, 1 ) - white
  hsla(   0,  0.0%,  13.3%, 1 ) - dark grey
  hsla(   2, 64.7%,  50.0%, 1 ) - red
  hsla( 120, 39.6%,  46.0%, 1 ) - green
  hsla( 208, 55.9%,  44.5%, 1 ) - blue
*/


html,
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  cursor: default;
  margin: 0;
  padding: 0;
  color: hsla( 0, 0.0%, 13.3%, 1 );
  background-color: hsla( 0, 0.0%, 100.0%, 1 );
}

h1 {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 2.4em;
  font-weight: normal;
  line-height: 3em;
  margin: 20px 0 0;
  padding: 0;
  text-align: center;
}

.tic .tac .toe { background-color: hsla( 0, 0.0%, 100.0%, 1 ); }
.tic { color: hsla(   2, 64.7%, 50.0%, 1 );}
.tac { color: hsla( 120, 39.6%, 46.0%, 1 );}
.toe { color: hsla( 208, 55.9%, 44.5%, 1 );}