<section id="gameboard" class="board">
  <div id="row-0">
    <div id="cell-0" class="board-cell top left"></div>
    <div id="cell-1" class="board-cell top center"></div>
    <div id="cell-2" class="board-cell top right"></div>
  </div>
  <div id="row-1">
    <div id="cell-3" class="board-cell middle left"></div>
    <div id="cell-4" class="board-cell middle center"></div>
    <div id="cell-5" class="board-cell middle right"></div>
  </div>
  <div id="row-2">
    <div id="cell-6" class="board-cell bottom left"></div>
    <div id="cell-7" class="board-cell bottom center"></div>
    <div id="cell-8" class="board-cell bottom right"></div>
  </div>
</section>